header.etikette-header{
  height: 70px;
  background: #fff;
  border-bottom: 1px solid $grey-300;
  padding: 0 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;

  .brand{
    a{
      color: $grey-900;
      font-size: rem(20);
      font-weight: 900;
    }
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .user-image{
    display: inline-block;
    height: 50px;
    width: 50px;
  }

}

.container-wrapper{
  position: relative;
  min-height: 100vh;
  padding-top: 70px;
  .layout-content{
    padding: 50px 80px;
  }
}

.collection-header{
  margin: -50px -80px 30px;
  padding: 25px;
}
