// Etikette General Settings
$grey-900:  #181818;
$grey-700:  #636363;
$grey-500:  #9e9e9e;
$grey-300:  #bdbdbd;
$grey-100:  #eeeeee;
$grey-50:   #f7f8f9;

$blue-500:  #3964C3;
$blue-900:  darken($blue-500, 10%);
$blue-300:  ligthen($blue-500, 10%);

// $red-500:;
// $green-500:;
// $yellow-500:;
// $orange-500:;
