@import 'settings';
// HEADINGS
h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin-top: 0;
  margin-bottom: ($headings-line-height / 2);
  small, .small {
    font-weight: normal;
    line-height: 1;
    color: $headings-small-color;
    font-size: 0.8em;
  }
}

h1 {
  font-size: $font-size-h1;
  &.xl{
    font-size: rem(45);
  }
}
h2 {font-size: $font-size-h2;}
h3 {font-size: $font-size-h3;}
h4 {font-size: $font-size-h4;}
h5 {font-size: $font-size-h5;}
h6 {font-size: $font-size-h6;}


.thin{
  font-weight: 300;
}
h1,h4{font-weight: 600;}

p{
  font-size: $font-size-p;
  margin-bottom: 1.3em;
}
li{
  font-size: $font-size-li;
}
